/**
 * @file
 * Styling for the cclisten theme.
 */

/** Views **/

.view-podcast-header {
  margin: 0 0 1.625em;
}

.view-series-list .views-row {
  border: 1px solid #555;
  box-shadow: 2px 2px 6px #333;
  margin: 0 5px 10px;
  padding: 0 0 1em;
}

.view-series-list .views-field-field-banner-image > .field-content {
  text-align: center;
}

.view-series-list .views-field-field-podcast-date > .field-content,
.view-series-list .views-field-description > .field-content {
  margin: 0 8px 1.625em;
}

.view-series-list h2 {
  font-size: 1.25em; /* 20px */
  line-height: 1.2em;
  margin: 0 8px 1.2em;
}

.term-podcast-detail {
  border: 1px solid #555;
  box-shadow: 2px 2px 6px #333;
  margin: 0 5px 10px;
  padding: 0 0 1em;
  text-align: center;
  vertical-align: top;
  width: 98%;
}

.term-podcast-detail .logo-wrapper {
  min-height: 160px;
}

.term-podcast-detail img {
  max-width: 94%;
}

/** Overrides **/

div.field-name-field-banner-image {
  text-align: center;
}

div.field-label-inline {
  margin: 0 0 1em;
}

div.field-name-field-audio-file {
  margin: 0 0 1em;
}
